# <font color='Black'> **Criando uma Aplicação WEB com sua Máquina Preditiva** </font>

![](https://cienciadosdados.com/images/2021/Design_sem_nome_10.png)

### **Guia Passo a Passo** para Implementação do Sistema de Aprovação de Empréstimo Online:

###### **Observação**: Caso não esteja fazendo as aulas sequencialmente e tenha desligado a sessão no Colab, reexecute o Script abaixo antes de ir para o 1°Passo.

In [8]:
## Pacotes
import pandas as pd     #Biblioteca de Funções de Manipulação de Dados
import seaborn as sns   #Biblioteca de Funções de Visualização Gráfica
import warnings
warnings.filterwarnings("ignore")

#Importação dos Dados
clientes = pd.read_csv('clientes.csv')
clientes

,cod_cliente,sexo,estado_civil,dependentes,educacao,empregado,renda,renda_conjuge,emprestimo,prestacao_mensal,historico_credito,imovel,aprovacao_emprestimo
0,LP001002,Male,No,0,Graduate,No,5849,0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0,133.0,360.0,0.0,Semiurban,N

In [9]:
#Substituindo caracteres por números
clientes['sexo']= clientes['sexo'].map({'Male':0, 'Female':1})
clientes['estado_civil']= clientes['estado_civil'].map({'No':0, 'Yes':1})
clientes['aprovacao_emprestimo']= clientes['aprovacao_emprestimo'].map({'N':0, 'Y':1})

# Eliminando valores Nulos
clientes = clientes.dropna()

# Separando variáveis Explicativas e Variável TARGET
X = clientes[['sexo', 'estado_civil', 'renda', 'emprestimo', 'historico_credito']]
y = clientes.aprovacao_emprestimo
X.shape, y.shape

# importando Pacote para Amostragem dos Dados
from sklearn.model_selection import train_test_split

# Realizando Amostragem dosa Dados
x_train, x_teste, y_train, y_teste = train_test_split(X,y, test_size = 0.2, random_state = 7)

#Importando Pacotes para Construção das Máquinas Preditivas com Machine Learning

## Algoritmo Random Forest
from sklearn.ensemble import RandomForestClassifier 

#Importando a Métrica de Avaliação
from sklearn.metrics import accuracy_score

# Criando a Máquina Preditiva com o Random Forest 
maquina = RandomForestClassifier(max_depth=4, random_state = 7) 
maquina.fit(x_train, y_train)

#Avaliando a Acurácia da Máquina Preditiva Baseline com dados de Teste
pred_maquina_teste = maquina.predict(x_teste)
accuracy_score(y_teste,pred_maquina_teste)

#Comando de Salvamento da Máquina Preditiva
import pickle 
pickle_out = open("maquina_preditiva.pkl", mode = "wb") 
pickle.dump(maquina, pickle_out) 
pickle_out.close()

In [10]:
X

     sexo  estado_civil  renda  emprestimo  historico_credito
1     0.0           1.0   4583       128.0                1.0
2     0.0           1.0   3000        66.0                1.0
3     0.0           1.0   2583       120.0                1.0
4     0.0           0.0   6000       141.0                1.0
5     0.0           1.0   5417       267.0                1.0
..    ...           ...    ...         ...                ...
609   1.0           0.0   2900        71.0                1.0
610   0.0           1.0   4106        40.0                1.0
611   0.0           1.0   8072       253.0                1.0
612   0.0           1.0   7583       187.0                1.0
613   1.0           0.0   4583       133.0                0.0

[480 rows x 5 columns]

## O item 6 está no arquivo python app_aprova_credito.py

In [8]:
#instalação do Pacote para Conexão do nosso Sistema na WEB 
#pyngrok vai criar uma espécie de túnel para atribuirmos um URL.
#!pip install -q pyngrok

https://pyngrok.readthedocs.io/en/latest/index.html

# Carregando o modelo

In [7]:
# Carregando a Máquina Preditiva
pickle_in = open('maquina_preditiva.pkl', 'rb') 
maquina_preditiva = pickle.load(pickle_in)
sexo= 0
estado_civil = 1
renda = 23566
emprestimo=128.000/1000
historico_credito =1 
prediction = maquina_preditiva.predict([[sexo, estado_civil, renda, emprestimo, 
                                         historico_credito]])

In [6]:
if prediction == 0:
    pred = 'Rejeitado'
else:
    pred = 'Aprovado'
pred

'Aprovado'